* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    color: white;
}

.logo h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background-image: url('images/gam_logo.PNG');
    background-size: cover; /* Изображение полностью покрывает блок */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Избегаем повторения изображения */
    height: 600px; /* Высота блока */
    display: flex; /* Для центрирования содержимого */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    text-align: center;
    color: rgb(0, 0, 0);
}

.hero-content {
    margin-top: 400px;
    text-align: center;
}

.hero-content h2 {
    font-size: 24px;
}

.hero-content p {
    font-size: 20px;
    margin: 20px 0;
}

.cta-button {
    background-color: #ff4500;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.features {
    text-align: center;
    padding: 50px 20px;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.feature-box {
    display: inline-block;
    width: 30%;
    padding: 20px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}
